
#crx-root  {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

#crx-root-chkbx {
  padding-left: 10px;  
  position: absolute;
  z-index: 500;
}

.clip-btn-n {
  background-color: #F5A523;
  border: 1px solid #F5A523;
  border-radius: 20px;
  color: white;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 25px 6px 25px;
}
.clip-btn-n:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #f5bd62;
  border: 1px solid #f5bd62;
}
.clip-btn-n img {
  display: inline-block;
  width: 16px; 
  height: 16px; 
  margin-right: 8px;
}

.clip-btn-o {
  background-color: #1D4694;
  border: 1px solid #1D4694;
  border-radius: 5px;
  color: white;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-stretch: extra-expanded;
  font-size: 11px;
  width: 90px;
}
.clip-btn-o:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #265ec5;  
}
.clip-btn-o img {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px; 
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff5ee;
  border: solid #ff6a00;
  border-width: 2px;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #e5e5e5;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0334fb;
  border: solid #0334fb;
  border-width: 2px;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px; 
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.badge-files {
  position: absolute; /* Posicionamento absoluto dentro do container */
  top: 110%; /* Posição vertical: 4% da altura do container */
  transform: translate(-50%, -50%); /* Centraliza o badge-files horizontal e verticalmente */
  width: 22px; 
  height: 22px;
  border-radius: 50%;
  background-color: #67C23A;
  color: white;
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  display: grid;
  place-items: center;
  z-index: 999;
}
.badge-files-old {  
  top: 50% !important;
  right: -20%
}